version: "3.9"

services:
  php:
    image: linqiuyu/php:5.6-apache-jancent
    hostname: LQY-PHP
    ports:
      - "80:80"
      - "10081-10090:81-90"
      - "127.0.0.1:6379:6379"
    networks:
      - php-env-apache
    extra_hosts:
      - "example.local:127.0.0.1"
    volumes:
      - ./app:/var/www/html
      - ./php/conf:/usr/local/etc/php
      - ./php/php-fpm.d:/usr/local/etc/php-fpm.d
      - ./apache/conf:/etc/apache2
      - ./apache/log:/var/log/apache2
      - ./redis/conf:/etc/redis
      - ./redis/data:/var/lib/redis
      - ./log:/var/www/log
#    depends_on:
#      - mysql
#      - redis
#
#  mysql:
#    image: mysql:8.0
#    ports:
#      - "127.0.0.1:3306:3306"
#    environment:
#      MYSQL_ROOT_PASSWORD: 123456
#    volumes:
#      - ./mysql/conf:/etc/mysql/conf.d
#      - ./mysql/logs:/var/log/mysql
#      - ./mysql/data:/var/lib/mysql
#
#  redis:
#    ports:
#      - "127.0.0.1:6379:6379"
#    image: redis:alpine
#    volumes:
#      - ./redis/data:/data
#
#  elastic:
#    image: elasticsearch:7.17.1
#    ports:
#      - "127.0.0.1:9200:9200"
#      - "127.0.0.1:9300:9300"
#    environment:
#      - discovery.type=single-node
#      - ELASTIC_USERNAME=elastic
#      - ELASTIC_PASSWORD=elastic
#      - ES_JAVA_OPTS=-Xms500m -Xmx500m
#    volumes:
#      - ./elasticsearch/data:/usr/share/elasticsearch/data

networks:
  php-env-apache:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 192.168.55.0/24
          gateway: 192.168.55.1
